.links  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Georgia, Times, 'Times New Roman', serif;
    flex-direction: row;
    color:black;
    padding: 10px 10px;
    background: rgb(110, 143, 252);
    border-radius: 15px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}
.headliner {
    font-size: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.text {
    font-size: 1.2em;
    line-height: 1.6;
    color: #000000;
    margin: 20px;
    text-align: center;
}
.video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background: rgb(110, 143, 252);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    size: 50px;
}
.body {
background-color: rgb(226, 236, 237);
background-size: cover;
background-position: center;  
background-repeat: no-repeat;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
}